<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>SHTS University - {{ title ? title : '' }}</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Plugin styles -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/mobile.css') }}">
        {% block styles %}{% endblock %}
    </head>

    <body>
        
        <div class="content">

            {% include "front/header.html.twig" %}

            {% block content %}{% endblock %}

            {% include "front/footer.html.twig" %}
            
        </div>

        <!-- Bootstrap core JavaScript -->
        <script src="//code.jquery.com/jquery-3.3.1.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <!-- Plugin scripts -->
        {% block scripts %}{% endblock %}
        <script>
            
        </script>
    </body>

</html>
