{% extends '/dashboard/base.html.twig' %}

{% block content %}
    <div class="row justify-content-md-center">
        <h2>Number Sorting</h2>
        <hr />
        <div class="col-md-6">
            {% if error is not null %}
                <div class="alert alert-warning">{{ error }}</div>
            {% elseif sort_order is not null %}
                <div class="alert alert-success">
                    Ascending order: {{ sort_order.ascending|join(', ') }} <br />
                    Descending order: {{ sort_order.descending|join(', ') }}
                </div>
            {% endif %}
            <form class="mt-5" method="post">
                <div class="form-group">
                    <label>Enter #1</label>
                    <input class="form-control" type="text" name="numbers[]" value="" />
                </div>
                <div class="form-group">
                    <label>Enter #2</label>
                    <input class="form-control" type="text" name="numbers[]" value="" />
                </div>
                <div class="form-group">
                    <label>Enter #3</label>
                    <input class="form-control" type="text" name="numbers[]" value="" />
                </div>
                <div class="form-group">
                    <label>Enter #4</label>
                    <input class="form-control" type="text" name="numbers[]" value="" />
                </div>
                <div class="form-group">
                    <label>Enter #5</label>
                    <input class="form-control" type="text" name="numbers[]" value="" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}